services:
  resource-server:
    build:
      context: .
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/postgres?schema=public
      PORT: 5000
      RESOURCE_SERVER_URL: http://localhost:5000
      AUTH_SERVER_URL: http://localhost:4000
      JWT_ISSUER: "http://localhost:4000"
      JWT_AUDIENCE: "resource-server"
    ports:
      - 5000:5000
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
